*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    list-style: none;
}
h3{
    font-size: 30px;

}

.block{
    text-align: center;
}
/*********************** header*********** */

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 95px 180px 200px 180px;
    
}

.logo{
    width: 40px;
    height: 30px;
}
/* ************************************** */



/**************** nav bar ******************/

.navigation__list{
    display: flex;
    flex-flow: row wrap;
    width: 430px;
    justify-content: space-between;
}

.navigation__link{
    text-decoration: none;
    color: #aaaaaa;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    
}

.link--active{
    color: black;
    font-size: 20px;
    border-bottom: 2px solid black;
}



/* *************************************************** */



/* ********************main block */

    /* first section */

h1{
    font-size: 70px;
}    

.basic-ph{
    color: #aaaaaa;
}


.block--first{
    display: block;
    margin: 0 auto;
    width: 950px;
}


/* second block */

.block--second{
    padding: 200px 180px;
    text-align: center;
}

.h2{
    font-size: 50px;
    
    
}

.instractors{
    padding-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.instractor__photo{
    width: 290px;
    height: 350px;
    border-radius: 30px;
}

.instractor__ph{
    color: yellowgreen;
    font-size: 15px;
}


            /* ******************usersblock */
            .users__photo{
                width: 530px;
                height: 350px;
                border-radius: 30px;
            }


            .users{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items:center;
                padding: 100px 0px 250px 0px;

            }
            
            .users__info{
                display: flex;
                flex-flow: row wrap;
                
            }

            .users__comm{
                width: 530px;
                height: 350px;
                text-align: right;

            }

            .info--reverse{
                display: flex;
                flex-direction: row-reverse;
                margin-top: 50px;
                
            }

            .comm--reverse{
                text-align: left;
            }

            .read-more__link{
                text-decoration: none;
                color: grey;
                padding: 15px;
                border: 2px solid grey;
                border-radius: 35px;


            }

            .comm__ph{
                margin: 25px 0px 25px 0px;
                color:#9b9b9b;
                font-style: italic;

            }





/* four****************  */

.block-four{
    text-align: center;
    padding-bottom: 180px;
}

.callback-alert{
    margin-bottom: 80px;
}

.callback-link{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 15px 30px;
    
}

.callback-link:hover{
    color: wheat;
    background-color: black;
    border-radius: 30px;
}



/* ************************footer */

.footer{
    padding: 0px 0px 50px 300px;
}

.copyright{
    color:gray;
    font-size: 12px;
    margin-top: 15px;
}